# Environment variables for the Media Store Backend application
# Prisma will use DATABASE_URL to connect to the PostgreSQL database
DATABASE_URL=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# The port on which the backend server will run
PORT=4000

# JWT configuration for authentication
JWT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxx
JWT_EXPIRES_IN=15d
JWT_REFRESH_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
JWT_REFRESH_EXPIRES_IN=365d

# Bcrypt configuration for hashing passwords
BCRYPT_SALT_ROUNDS=10

# Stripe secret key for processing payments
STRIPE_SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Email configuration for sending emails (e.g., for password resets)
EMAIL_USER=xxxxxx@gmail.com
EMAIL_PASS=xxxxxxxxxxxxxxxxxxxx

# Open router API key for chat model and Hugging face API key for embedding model
OPENROUTER_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OPENROUTER_MODEL=xxxxxxxxxxxxxxxxxxxxx
HF_API_KEY=xxxxxxxxxxxxxxxxxxxx
HF_EMBEDDING_BASE_URL=xxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Cloudinary configuration for storing media files
CLOUDINARY_CLOUD_NAME=xxxxxxxxxxxxx
CLOUDINARY_API_KEY=xxxxxxxxxxxxxxxxx
CLOUDINARY_API_SECRET=xxxxxxxxxxxxxxxxxxxx

# Redis URL
REDIS_URL="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"